<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @post.title %>
    </h1>
    <div class="content">
      <%= @post.content %>
    </div>
    <%= link_to 'Edit', edit_post_path %>
  </div>
</section>